<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign presentations = site.data.resume.presentations %}
  {% for presentation in presentations %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">{{ presentation.date }}</span>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if presentation.url %}
              <a href="{{ presentation.url }}">{{ presentation.title }}</a>
            {% else %}
              <span>{{ presentation.title }}</span>
            {% endif %}
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ presentation.event }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ presentation.tag }}</h6>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
